
<h1>Lines</h1>
<table>
<%if @lines %>
    <table>
     <tr>
          <td><%= @line.train %> </a> </td>
         <td><%= @line.color %> </a> </td>
         <td><%= @line.borough %> </a> </td>
    
     </tr>
     <% end %>
</table>